configure terminal
{% for item in ip_interfaces %}
  interface {{ item.interface }}
    description {{ item.description }}
    ip address {{ item.ip }}{{ item.cidr }}
{% endfor %}configure terminal
{% for item in ip_interfaces %}
  interface {{ item.interface }}
    description {{ item.description }}
    ip address {{ item.ip }}{{ item.cidr }}
{% endfor %}